.trailer {
  background-color: whitesmoke;
}

.trailer h1 {
  font-family: 'Bower', Georgia, 'Times New Roman', serif;
}

.trailer p {
  font-family:  'Helvetica Neue', Calibri, Corbel, Helvetica,
    Roboto, Droid, sans-serif;

  
}
